---

import {projects, TAGS} from '../translations/es.astro';



---
{projects.map(({ title, description, url, github, image, tags }) => (
    <article class="flex flex-col space-y-6 group md:flex-row md:space-x-6 md:space-y-0 my-4">
        <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-6 transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700">
                <img src={image} alt={`Captura de pantalla del Proyecto ${title}`} class="w-full h-auto" />
            </div>
        </div>
        <div class="flex flex-col w-full md:max-w-lg">
            <h3 class="text-2xl font-bold text-black/80 dark:text-yellow-200/90">{title}</h3>
            <div class="mt-2 text-gray-700 dark:text-gray-400 text-pretty">{description}</div>
            <ul class='flex flex-wrap gap-2 mt-4 justify-center'>
                {tags.map((tag) => (
                    <li> 
                        <span class={`flex pr-4 gap-x-1 bg-gray-800 rounded-full text-xs ${tag.class} items-center py-0 px-2`}>
                            <tag.icon class="ml-0 size-8" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <div class="flex justify-center mt-4 ">
                
                
                <a class={`flex  bg-gray-700 rounded-full text-xs items-center py-2 px-2 mr-2 text-center hover:shadow-glow`} href={url}>Ver proyecto</a>
                <a class={`flex  bg-gray-700 rounded-full text-xs items-center py-0 px-2 mr-2 text-center hover:shadow-glow`} href={github}>Ver código</a>
            </div>
        </div>
    </article>
))}
